<div class="container w-75" style="height: 50px; padding: 10px 25px">
    <div class="float-sm-end">
        Administrator
        <button class="btn space-x" onclick="window.location.href='/logout'">Logout</button>
    </div>
</div>
<div class="container w-75">
    <div class="row">
        <div class="container">
            <h2>List shared generated data</h2>
            <div id="accordion">
                {{#each test}}
                <div class="card">
                    <div class="card-header">
                        <a class="" data-bs-toggle="collapse" href="#collapse{{this.id}}">
                            <p>{{this.fileName}}</p>
                        </a>
                    </div>
                    <div id="collapse{{this.id}}" class="collapse" data-bs-parent="#accordion">
                        <div class="card-body">
                            <h3>Content file</h3>
                            <pre>{{this.content}}</pre>
                            <button type="button" onclick="deleteGeneratedFile('{{this.id}}')"
                                class="btn btn-primary btn_delete">Delete</button>
                            <button type="button" onclick="window.location.href='{{this.link}}'"
                                class="btn btn-primary">Download</button>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="col-sm-6">
    </div>
</div>
<script>

    let deleteGeneratedFile = (id) => {
        fetch(`admin/${id}`, { method: 'DELETE' })
            .then(rs => rs.json())
            .then(rs => {
                if (rs.success) {
                    window.location.reload()
                }
            })
    }
</script>